<%= form_for(post) do |f| %>

<div id="post_title">
	<span id="post_title_field">
		<%= f.text_field(:title, :size => 100) %>
	</span>  	
	<label for="title" id="post_title_label" class="post_form_label">
		title
	</label>
</div>
<div id="post_excerpt">
	<span id="post_excerpt_field">
		<%= f.text_field(:excerpt, :size => 200) %>
	</span>  	
	<label for="excerpt" id="post_excerpt_label" class="post_form_label">
		summary
	</label>
</div>
<div id="post_comments_disabled">
	<span id="post_comments_disabled_field">
		<%= f.check_box(:comments_disabled) %>
	</span>  	
	<label for="comments_disabled" id="post_comments_disabled_label" class="post_form_label">
		disable comments
	</label>
</div>
<div id="post_body">
	<div class="wmd-panel" id="post_body_text">
	    <div id="wmd-button-bar"></div>
		<%= f.text_area(:body, :class => "wmd-input", :id => "wmd-input")%>
	</div> 
	preview:
	<div id="wmd-preview" class="wmd-panel wmd-preview"></div> 	
</div>
<span id="post_submit">
	<%= f.submit %>
</span>
<span>
	<%= link_to "cancel", root_path %>
</span>
<div id="dialog" title="Insert Image" style="display:none">
	<img id="upload-image-loader" src="/assets/ajax-loader.gif" style="display:none"/>
	<%= form_tag({:controller => :image, :action => :upload}, :multipart => true, :id => "image_upload_form") do %>
	<table border="0" cellspacing="5" cellpadding="5">
		<tr>
			<td style="width:50%"><label for="image">Image: </label></td>
			<td style="width:50%"><%= file_field_tag 'image' %></td>
		</tr>
		<tr>
			<td colspan="2"><%= submit_tag("Upload Image", :id => 'upload_btn') %></td>
		</tr>
	<% end %>
		<tr style="border-top:1px">
			<td>Image Url:</td>		
			<td><input type="text" id="image_url" style="width:350px"></input></td>
		</tr>		
		<tr>
			<td colspan="2"><button id="insert_image_btn">Insert Image</button></td>
		</tr>	
	</table>
	
</div>
<% end %>
