<%= stylesheet_link_tag "markdown_editor" %>

<%= form_for(post) do |f| %>

<div id="post_title">
	<span id="post_title_label">
		title:
	</span>
	<span id="post_title_field">
		<%= f.text_field(:title, :size => 100) %>
	</span>  	
</div>
<div id="post_body">
	<div class="wmd-panel" id="post_body_text">
	    <div id="wmd-button-bar"></div>
		<%= f.text_area(:body, :class => "wmd-input", :id => "wmd-input")%>
	</div> 
	preview:
	<div id="wmd-preview" class="wmd-panel wmd-preview"></div> 	
</div>
<span id="post_submit">
	<%= f.submit %>
</span>
<span>
	<%= link_to "cancel", :back %>
</span>
<% end %>

<script type="text/javascript">
    (function () {
        var converter1 = Markdown.getSanitizingConverter();
        var editor1 = new Markdown.Editor(converter1);
        editor1.run();
	})();
</script>