<%= form_for(post) do |f| %>

<div id="post_title">
	<span id="post_title_field">
		<%= f.text_field(:title, :size => 100) %>
	</span>  	
	<label for="title" id="post_title_label" class="post_form_label">
		title
	</label>
</div>
<div id="post_excerpt">
	<span id="post_excerpt_field">
		<%= f.text_field(:excerpt, :size => 200) %>
	</span>  	
	<label for="excerpt" id="post_excerpt_label" class="post_form_label">
		summary
	</label>
</div>
<div id="post_comments_disabled">
	<span id="post_comments_disabled_field">
		<%= f.check_box(:comments_disabled) %>
	</span>  	
	<label for="comments_disabled" id="post_comments_disabled_label" class="post_form_label">
		disable comments
	</label>
</div>
<div id="post_body">
	<div class="wmd-panel" id="post_body_text">
	    <div id="wmd-button-bar"></div>
		<%= f.text_area(:body, :class => "wmd-input", :id => "wmd-input")%>
	</div> 
	preview:
	<div id="wmd-preview" class="wmd-panel wmd-preview"></div> 	
</div>
<span id="post_submit">
	<%= f.submit %>
</span>
<span>
	<%= link_to "cancel", root_path %>
</span>
<div id="dialog" title="Insert Image" style="display:none">
	<img id="upload-image-loader" src="/assets/ajax-loader.gif" style="display:none"/>
	<%= form_tag({:controller => :image, :action => :upload}, :multipart => true, :id => "image_upload_form") do %>
	<table border="0" cellspacing="5" cellpadding="5">
		<tr>
			<td style="width:50%"><label for="image">Image: </label></td>
			<td style="width:50%"><%= file_field_tag 'image' %></td>
		</tr>
		<tr>
			<td colspan="2"><%= submit_tag("Upload Image", :id => 'upload_btn') %></td>
		</tr>
	<% end %>
		<tr style="border-top:1px">
			<td>Image Url:</td>		
			<td><input type="text" id="image_url" style="width:350px"></input></td>
		</tr>		
		<tr>
			<td colspan="2"><button id="insert_image_btn">Insert Image</button></td>
		</tr>	
	</table>
	
</div>
<% end %>

<script type="text/javascript">
    (function () {
        var converter1 = new Markdown.Converter();
        var editor = new Markdown.Editor(converter1);

		editor.hooks.set("insertImageDialog", function (callback) {
			$(document).ready(function(){
				$("#insert_image_btn").click(function(a,b,c){
					callback($("#image_url").val());
					$("#dialog").dialog("close");
				})		
				
				$("#dialog").dialog({width: '500px', resizable: false}).unbind( "dialogclose");			    		
			    $("#dialog").dialog().bind( "dialogclose", function(event, ui) {
				  callback(null);
				});
				
				$("#upload_btn").click(function(){
					$("#upload-image-loader").show();
					var formData = new FormData();
					formData.append('image', $('#image')[0].files[0])
				    $.ajax({
				        url: '/image/upload',  //server script to process data
				        type: 'POST',
				        success: function(responseText,b,c){
							$("#dialog").dialog().unbind( "dialogclose");
							$("#image_url").val(responseText.url);
							$("#upload-image-loader").hide();
						},
				        error: function(responseText, b,c){
							callback(null);
							$("#dialog").close();
							$("#upload-image-loader").hide();
						},
				        // Form data
				        data: formData,
				        //Options to tell JQuery not to process data or worry about content-type
				        cache: false,
				        contentType: false,
				        processData: false
				    });
					$("#upload-image-loader").show();
				})
			});
			
			return true;
		});
		
        editor.run();
	})();
	
	function progressHandlingFunction(e){
	    if(e.lengthComputable){
	        $('progress').attr({value:e.loaded,max:e.total});
	    }
	}
	
</script>