<% @posts.each do |p| %>
	<div class="post">
		<span class="post_title"><h1><%= link_to p.title, friendly_post_path(p) %></h1></span>
        <span class="comments_link <%= p.has_comments ? "" : "no_comments" %>"><%= build_post_comments_path(p) %></span>
		<!-- <div class="post_excerpt"><%= p.excerpt %></div>		 -->
    <div class="post_author">written by <%=p.author.name%> on <%= prettify_date(p.created_at) %></div>
    <% if current_user.try("admin?") %>
      <div class="post_edit_link"><%= link_to "Edit", edit_post_path(p.id)%></div>
    <% end %>

    <div class="post_body"><%= p.body_to_html.html_safe %></div>    
	</div>
<% end %>