<% if @comment.errors.any? %>
	<script>
	  window.location = window.location.href + "#comment_errors";
	</script>
<% end %>
<div class="post">
	<div class="post_title"><h1><%= @post.title %></h1></div>
	<div class="post_excerpt"><%= @post.excerpt %></div>		
	<hr/>
	<div class="post_body"><%= @post.body_to_html.html_safe %></div>		

	<!-- <div id="post_comment_title">Post a Comment</div> -->
	<div>
		<%= form_for [@post, @comment] do |f| %>
			<div id="comment_errors">
				 <%= render_error_messages_for(@comment) %>
	    </div>
			<div id="comment_body_field">
				<%= f.text_area :body, :id => "comment_text_area", :rows => 10, :placeholder => "comment"%>
			</div>
			<% unless @post.comments_disabled %>
		    <%= f.fields_for :comment_author do |builder|%>
		    	<div>
			    	<span id="comment_author_email">
			    		<%= builder.text_field :email, :placeholder => "email"  %>
			    	</span>
		 	    </div>
		    	<div>
			    	<span id="comment_author_name">
			    		<%= builder.text_field :name, :placeholder => "name" %>
			    	</span>
			    </div>
		    	<div>
			    	<span id="comment_author_website">
			    		<%= builder.text_field :website, :placeholder => "website" %>
			    	</span>
			    </div>
		    <% end %>
				<div id="comment_submit">
				    <%= f.submit "Post Comment" %>
		    </div>
		  <% end %>
		<% end %>
	</div>
	<div>
		<%= render_comments_header %>
		<% @post.get_all_child_comments.each do |comment| %>
			<%= render :partial => "posts/comment", :locals => {:comment => comment} %>
		<% end %>
	</div>
</div>