<div class="post">
	<div class="post_title"><h1><%= @post.title%></h1></div>
	<div class="post_excerpt"><%= @post.body_to_html.html_safe %></div>		

	<% if @post.has_comments %>
	    <div><%= @post.comments.size %> Comments</div>
	<% end %>
	<div id="post_comment_title">Post a Comment</div>
	<div>
		<%= form_for [@post, @comment] do |f| %>
			<div id="comment_body_field">
				<%= f.text_area :body, :id => "comment_text_area", :rows => 10 %>
			</div>
			<div id="comment_submit">
			    <%= f.submit %>
		    </div>
		<% end %>
	</div>
	<div>
		<% @post.get_all_child_comments.each do |comment| %>
			<%= render :partial => "comment", :locals => {:comment => comment} %>
		<% end %>
	</div>
</div>