<!DOCTYPE html>
<html>
<head>
  <title>a technology journal</title>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <%= stylesheet_link_tag "markdown_editor" %>
  <%= stylesheet_link_tag "markdown_editor_overrides" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "global", :media => "all" %>
  <%= stylesheet_link_tag    "shCoreEclipse", :media => "all" %>
  <%= stylesheet_link_tag    "shThemeEclipse", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,300' rel='stylesheet' type='text/css'/>
  <script type="text/javascript" src="//use.typekit.net/yyh7bvm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "Markdown.Converter.js" %>
  <%= javascript_include_tag "Markdown.Sanitizer.js" %>
  <%= javascript_include_tag "Markdown.Editor.js" %>
  <%= javascript_include_tag "shCore" %>
  <%= javascript_include_tag "shBrushJava" %>
  <%= javascript_include_tag "shBrushXml" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="top_bar">
		<div id="title_bar_container" >
	 		<a href="<%= root_path %>">
        <div id="title_bar">A Technology Journal <span class="black_font">on tech, life and other stuff</span>
      </a>
        <%= render_social_links %>
        <span id="login_logout_link"><%= login_link %></span>
        <span id="new_post_link"><%= new_post_link %></span>
      </div>
		</div>
	</div>
	<div id="container">
		<!--<div id="header">-->
			<!--<div id="title">
				<a href="<%= root_path %>"><h1 id="title_text">a <span class="strikethrough">technology</span> journal</h1></a>
				<h4	id="title_subtext">on technology, life and other stuff</h4>
			</div>-->
			<!-- <div id="nav">
				<ul>
					<li><%= link_to "stories", posts_path %></li> |
					<li><a href="#">wiki</a></li> |
					<li><a href="#">portfolio</a></li> |
					<li><a href="#">bookmarks</a></li> |
					<li><a href="#">aboutme</a></li>
				</ul>
			</div> -->
		<!--</div>-->
		<div id="body">
			<%= yield %>

		</div>
		<div id="footer">
			<div id="copyright">
				© 2012 daniel valencia backhoff
			</div>
		</div>	
	</div>
	<script type="text/javascript">
       SyntaxHighlighter.all();
	</script>
</body>
</html>
