<!DOCTYPE html>
<html>
<head>
  <title>a technology journal</title>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <%= stylesheet_link_tag "markdown_editor" %>
  <%= stylesheet_link_tag "markdown_editor_overrides" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "global", :media => "all" %>
  <link href="http://alexgorbatchev.com/pub/sh/current/styles/shCore.css" rel="stylesheet" type="text/css" />
  <link href="http://alexgorbatchev.com/pub/sh/current/styles/shCoreEclipse.css" rel="stylesheet" type="text/css" />
  <link href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeEclipse.css" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,300' rel='stylesheet' type='text/css'/>
  <script type="text/javascript" src="//use.typekit.net/yyh7bvm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= javascript_include_tag "Markdown.Converter.js" %>
  <%= javascript_include_tag "Markdown.Sanitizer.js" %>
  <%= javascript_include_tag "Markdown.Editor.js" %>
  <script type="text/javascript" src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js"></script>
  <script type="text/javascript" src="http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js"></script> 
  <script type="text/javascript" src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJava.js"></script>
  <script type="text/javascript" src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJScript.js"></script>
  <script type="text/javascript" src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushRuby.js"></script>
  <script type="text/javascript" src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushCss.js"></script>
  <script type="text/javascript" src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushXml.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="top_bar">
		<div id="title_bar_container" >
	 		<a href="<%= root_path %>">
        <div id="title_bar">A Technology Journal <span class="black_font">on tech, life and other stuff</span>
      </a>
        <%= render_social_links %>
        <span style="float: right; margin-right: 10px; margin-bottom: 5px"><a href="/about" >about me</a></span>
      </div>
		</div>
	</div>
	<div id="container">
		<!--<div id="header">-->
			<!--<div id="title">
				<a href="<%= root_path %>"><h1 id="title_text">a <span class="strikethrough">technology</span> journal</h1></a>
				<h4	id="title_subtext">on technology, life and other stuff</h4>
			</div>-->
			<!-- <div id="nav">
				<ul>
					<li><%= link_to "stories", posts_path %></li> |
					<li><a href="#">wiki</a></li> |
					<li><a href="#">portfolio</a></li> |
					<li><a href="#">bookmarks</a></li> |
					<li><a href="#">aboutme</a></li>
				</ul>
			</div> -->
		<!--</div>-->
		<div id="body">
			<%= yield %>

		</div>
		<div id="footer">
			<div id="copyright">
				site created by <a href="https://twitter.com/_DanValencia" target="_blank">@_DanValencia</a> with the help of <a href="http://rubyonrails.org/" target="_blank"> ruby on rails</a> and <a href="http://www.heroku.com/" target="_blank">heroku</a>
			</div>
	        <span id="login_logout_link"><%= login_link %></span>
	        <span id="new_post_link"><%= new_post_link %></span>
		</div>	
	</div>
	<script type="text/javascript">
       SyntaxHighlighter.all();
	</script>
	<%= javascript_include_tag "application" %>
</body>
</html>
